* {
    font-family: 'Kiwi Maru', serif;
}

:root {
    --main-color: #becb3d;
    --sec-color: #f3eac2;
    --thi-color: #206b8a;
    --bg-color: #f8f8f8;
}

a {
    text-decoration: none !important;
}

.container-fluid a {
    color: var(--thi-color);
}

.container-fluid a:hover {
    color: var(--main-color) !important;
}

body {
    background-color: var(--bg-color);
}

.tx-main-color {
    color: var(--main-color);
}

.tx-thi-color {
    color: var(--thi-color);
}

.bg-main-color {
    background-color: var(--main-color);
}

.bg-sec-color {
    background-color: var(--sec-color);
}

.bg-thi-color {
    background-color: var(--thi-color);
}

.bg-bg-color {
    background-color: var(--bg-color);
}

.masthead {
    height: 70vh;
    min-height: 500px;
    background-image: url('https://www.matteofrozzi.it/wp-content/uploads/2015/05/1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-radius: 0px !important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0px !important;
}

.bgmain {

    background-image: url('/img/bgmain.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bgthi {

    background-image: url('/img/bgthi.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn {
    border: none !important;
}

.btn:hover {
    color: #fff;
}